.buttonContainer{
    width: 100%;
}

.buttonContainer button{
    margin: 20px auto;
}
.authErrorMsg{
    color:#bf1616;
    text-align: center;
}
.overflowContainer{
    position: relative;
    padding-bottom: 10px;
}
.overflowContainer ol{
    margin: 0px;
}
.qcoverflowContentHidden{
    max-height: 60px;
    overflow: hidden;
}
.qcoverflowContentShow{
    height: auto;
}
.showMoreBtn{
    position: absolute;
    bottom: -5px;
    left: 0px;
    text-decoration: underline;
    cursor: pointer;
}
.detailPaneOverlay{
    position: fixed;
    height: 200px;
    width: 700px;
    top: 0px;
    left:0px;
    z-index: 1;
    background: #ededed;
}
svg{
    pointer-events: none;
}