.verticalTabContainer{
    // > div {
    //     display: inline-block;
    // };
    position: relative;
    div:first-child{
        width: 20%;
        > div {
            width: 100%;
            box-shadow:none;
            > span {
                margin-left: 0px;
                flex-direction: column;
                width: 100%;
                align-items: inherit;
                button{
                    text-align: left;
                    border-bottom: 1px solid #DEE4EC;
                    padding-left: 10px;
                }
                button.selected{
                    border-left: 4px solid #4cc6ff;
                    box-shadow: none;
                }
            }
        } 
    } 
    div:nth-child(2) {
        position: absolute;
        width: 70%;
        right: 0px;
        top: 0px;
    }
}